{% extends 'dashboard/index.html.twig' %}

{% block title %}Liste des Types de Recettes {% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <h2><span> Type de recette    <a href='../type/recette/add' class="md-btn md-raised m-b-sm w-xs indigo">Ajouter</a></span></h2>
        </div>
        <div class="table-responsive">
            <table ui-jp="dataTable" ui-options="{
          sAjaxSource: '/api/recette/list.json',
          aoColumns: [
            { mData: 'strTypeRecette' },
            { mData: 'strNumeroCompte' },
             { mData: 'stractionEDIT' },
             { mData: 'stractionDELETE' }

          ]
        }"   class="table table-striped b-t b-b">
                <thead>
                <tr>
                    <th  style="width:30%"> Type de Recette </th>
                     <th  style="width:25%">Numéro de compte</th>
                    <th  style="width:15%">Modification</th>
                    <th  style="width:15%">Suppression</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
